<h1>pagina Personal</h1>
@model Personal

@Html.LabelFor(m=>m.name, "Name: ") @Model.name <br/>

@Html.LabelFor(m=>m.lastname, "LAST NAME: ") @Model.lastname <br/>

@Html.LabelFor(m=>m.age, "Age: ") @Model.age <br/>

@Html.LabelFor(m=>m.email, "Email: ") @Model.email <br/>

@Html.LabelFor(m=>m.telephone, "Telephone: ") @Model.telephone <br/>

@Html.LabelFor(m=>m.Direction, "Direction: ") @Model.Direction <br/>